@import '../design-tokens';
@import '../design-tokens-temp';

// DSM colours

$black-100: $colour-black-100;
$black-90: $colour-black-90;
$black-80: $colour-black-80;
$black-70: $colour-black-70;
$black-60: $colour-black-60;
$black-50: $colour-black-50;
$black-40: $colour-black-40;
$black-30: $colour-black-30;
$black-20: $colour-black-20;
$black-10: $colour-black-10;
$black-05: $colour-black-05;

$blue-deep-100: $colour-blue-deep-100;
$blue-deep-90: $colour-blue-deep-90;
$blue-deep-80: $colour-blue-deep-80;
$blue-deep-70: $colour-blue-deep-70;
$blue-deep-60: $colour-blue-deep-60;
$blue-deep-50: $colour-blue-deep-50;
$blue-deep-40: $colour-blue-deep-40;
$blue-deep-30: $colour-blue-deep-30;
$blue-deep-20: $colour-blue-deep-20;
$blue-deep-10: $colour-blue-deep-10;

$aqua-100: $colour-aqua-100;
$aqua-20: $colour-aqua-20;

$red-deep-100: $colour-red-deep-100;
$red-100: $colour-red-100;
$red-90: $colour-red-90;
$red-80: $colour-red-80;
$red-70: $colour-red-70;
$red-60: $colour-red-60;
$red-50: $colour-red-50;
$red-40: $colour-red-40;
$red-30: $colour-red-30;
$red-20: $colour-red-20;
$red-10: $colour-red-10;

$green-100: $colour-green-100;
$green-30: $colour-green-30;
$green-deep-100: #507e53;

$light-grey: $colour-light-grey; // rgb(216, 216, 216)
$grey: $colour-grey; // rgb(51, 51, 51)

$white: #ffffff; // rgb(255, 255, 255)
$white-40: rgba(255, 255, 255, 0.4);

// DIT colour palette
$aqua-100: $colour-aqua-100;

// Red
$flag-red: #b00d23; // rgb(176,  13,  35)
$great-red: #e41f13; // rgb(228,  31,  19)
$great-red-alt: #ef5f56; // rgb(239,  95,  86)

// Grey
$mid-grey: #666666;

// White
$offwhite: #fafafa; // rgb(220, 224, 223)

// Blue
$active-blue: #006ccc; // rgb(  0, 108, 204)
$active-blue-alt: #328dc2; // rgb( 50, 141, 194)
$active-blue-disabled: #9bc6e9; // rgb(155, 198, 233)
$dark-blue: #132965; // rgb(19, 41, 101)
$dark-navy: #160d37; // rgb(22, 13, 55)
$great-blue: #1e1348; // rgb(30, 19, 72)
$lightened-great-blue: #3b3458;
$mid-blue: #00549f; // rgb(0, 84, 159)
$hero-blue: rgba(0, 82, 157, 0.8);
$aqua: #007ea3; // rgb(0, 126, 163)
$teal: #00a699;
$light-blue: #2b8cc4; // from govuk elements
$light-aqua: #8ae2fb; // rgb(138, 226, 251)

// Other
$black: #000000; // rgb(  0,   0,   0)
$focus-yellow: #ffd000; // rgb(255, 191,  71)
$purple: #4f0b7b; // rgb( 79,  11, 123)

// Stone
$stone: #dfd5c5; // rgb(223, 213, 197)
$stone-90: #e2d9cb;
$stone-80: #e5ddd1;
$stone-70: #e9e2d6;
$stone-60: #ece6dc;
$stone-50: #efeae2;
$stone-40: #f2eee8;
$stone-30: #f5f2ed; // rgb(245, 242, 237)
$stone-20: #fcfbf9;
$stone-10: #fdfdfc;

$stone-light: #f5f2ed; // rgb(245, 242, 237)
$tap-highlight: rgba(0, 0, 0, 0.3);
$background-tint: rgba(0, 0, 0, 0.5);
$input-disabled: rgba(224, 224, 224, 0.5);
