@import 'helpers/colours';

.text-input-with-submit-button-container {
  display: flex;

  .text-input-with-submit-button:active {
    top: inherit;
  }

  .text-input-with-submit-button {
    border: none;
    background: $active-blue;
    cursor: pointer;
    color: $white;
    cursor: pointer;
  }

  input {
    border-right: none;
  }
}
