
// Header language and country forms
// ==================================

.g-header-language-display {
  position: absolute;
  left: -10000px;
  padding: 0 3px;
  font: inherit;
}

.g-header-language-switcher {
  display: block;
}

body.js-enabled {
  .g-header-language-switcher {
    display: inline-block;
  }
}

.g-header-form {
  // Reset
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    color: $stone;
    font: inherit;
    padding: 0;
    width: auto;
    height: auto;
    margin-top: 0;

    vertical-align: middle;
  }

  select::-ms-expand {
    display: none;
  }

  option {
    color: $black;
  }

  label {
    margin-right: 5px;
  }

  button {
    @include button-reset;
    padding: 0;
    padding-left: 5px;

    &:focus,
    &:focus:active {
      @include focus;
    }

    &:focus:active {
      background: $focus-yellow;
      color: $great-blue;
    }

  }
}
