{
  "globals": {},
  "env": {},
  "rules": {
    "react-hooks/exhaustive-deps": 0
  },
  "extends": ["prettier"],
  "parserOptions": {},
  "plugins": ["jsx-a11y", "prettier", "react", "react-hooks"]
}
