{
  "globals": {},
  "env": {
    "es6": true
  },
  "rules": {
    "react-hooks/exhaustive-deps": 0
  },
  "extends": [
    "prettier"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "react-hooks",
    "jsx-a11y",
    "prettier"
  ]
}
