
// BANNER
// ======

.g-banner-info {
  border-left: 5px solid $active-blue;
  padding-left: $space-xs-m;
  margin-top: $space-s-m;
  margin-bottom: $space-s-m;

  @include desktop {
    padding-left: $space-xs;
    margin-top: $space-s;
    margin-bottom: $space-s;
  }

  h2 {
    display: inline;
    font-weight: bold;
    margin: 0 8px 0 0;
  }

  h2 + p {
    display: inline;
  }

  p {
    margin: 0;
  }

}
