
// CTA BOX
// ========

.g-cta-box {

  .button-container {
    float: right;

    .g-button {
      width: 100%;
      min-width: 0;
      text-align: center;
    }
  }
}

// MESSAGE BOX
// ============

.g-message-box {
  @include float-clear;
  @include paragraph;
  border-width: 4px;
  border-style: solid;
}

.g-message-box-content {
  padding: $space-s-m - 4 $space-s-m;
    @include tablet {
      padding: $space-s - 4 $space-s;
    }
}

.g-message-box-with-icon {
  @extend .g-message-box;
  display: table;
}

.g-message-box-icon {
  @include tablet {
    width: $space-l;
  }
  width: $space-l-m;
  display: table-cell;
  font-family: system-ui;
  font-size: $font-size-xlarge-desktop;
  text-align: center;
  vertical-align: middle;
}

.g-message-box-icon-content {
  display: table-cell;
}
