
// For listing article links

.g-content-list {
  .heading-small {
    padding: 0;
  }

  ul li,
  .heading-small {
    margin-bottom: $space-xs-m;
    @include tablet {
      margin-bottom: $space-xs;
    }
  }
}
