@import 'helpers/colours';

:root {
  --ttpadding: 15px;
}

// Tooltip container
.tooltip {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
}

// Tooltip content container (shown when active)
.tooltip__text {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  top: calc(35px + var(--ttpadding));
  width: calc(100vw - 2 * (var(--ttpadding)));
  padding: var(--ttpadding);
  box-shadow: 0px 10px 20px 0px rgba($colour-blue-deep-80, 0.1);
  border: 1px solid $colour-blue-deep-10;
  z-index: 10;

  @include breakpoint(sm) {
    top: 0;
    max-width: 350px;
  }
}

.tooltip__text--left {
  left: 0;

  @include breakpoint(sm) {
    left: calc(100% + var(--ttpadding));
  }
}

.tooltip__text--right {
  right: unset;
  left: 0;

  @include breakpoint(sm) {
    left: unset;
    right: calc(100% + var(--ttpadding));
  }
}

.tooltip__close {
  position: absolute;
  right: var(--ttpadding);
  cursor: pointer;
  margin-right: -9px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 15px;
  background-color: $white;
  transition: background-color 300ms;

  &:hover {
    background-color: $black-10;
  }

  i {
    margin-top: 4px;
  }

  &:focus {
    outline: 6px solid $focus-yellow;
  }
}

// Tooltip content text rules
.tooltip__content {
  ul {
    li {
      list-style: disc;
      margin-left: 1em;
    }
  }

  small {
    font-size: 0.85em;
  }

  > * {
    &:first-child {
      margin-top: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Tooltip arrow
.tooltip__text--left::after,
.tooltip__text--right::after {
  content: '';
  display: none;
  position: absolute;
  background: inherit;
  top: 14px;
  width: 9px;
  height: 9px;
  border-top: inherit;
  border-left: inherit;
}

// Tooltip arrow to the left
.tooltip__text--left::after {
  @include breakpoint(sm) {
    display: block;
    right: 100%;
    transform: rotate(-45deg);
    margin-right: -4px;
  }
}

// Tooltip arrow to the right
.tooltip__text--right::after {
  @include breakpoint(sm) {
    display: block;
    left: 100%;
    transform: rotate(135deg);
    margin-left: -4px;
  }
}
