// Multiple choice/radio buttons

@import 'helpers/colours';

// Radio buttons & checkboxes

// a list of checkboxes needs margin between them
// standalone checkboxes (div.multiple-choice) do not
li.multiple-choice {
  @include tablet {
    margin-bottom: $space-xs;
  }

  margin-bottom: $space-xs-m;
}

.multiple-choice {
  @include tablet {
    min-height: 20px;
    padding: 0 0 0 $space-m;
    float: left;
  }

  display: block;
  float: none;
  clear: left;
  position: relative;
  padding: 0 0 0 $space-m-m;
  min-height: $space-m-m;

  // Absolutely position inputs within label, to allow text to wrap
  input {
    @include tablet {
      width: $space-m;
      height: $space-m;
    }

    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    z-index: 1;
    -webkit-appearance: none;
    width: $space-m-m;
    height: $space-m-m;

    &:focus {
      outline: 0;
    }
  }

  label {
    @include tablet {
      line-height: $space-m;
      float: left;
    }

    cursor: pointer;
    padding-left: 0;
    display: block;
    line-height: $space-m-m;

    // remove 300ms pause on mobile
    -ms-touch-action: manipulation;
    touch-action: manipulation;

    &:after {
      color: $grey;
      z-index: 1;
    }
  }

  [type='radio']+label::before {
    content: '';
    border: 2px solid $grey;
    background: transparent;
    width: 20px;
    height: 20px;

    position: absolute;
    top: 9px;
    left: 0;
    border-radius: 50%;
  }

  [type='radio']+label::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border: 6px solid;
    top: 15px;
    left: 6px;
    border-radius: 50%;
    opacity: 0;
  }

  // Focused state
  [type='radio']:focus+label::before {
    box-shadow: 0 0 0 4px $focus-yellow;
  }

  [type='checkbox']:focus+label::before {
    box-shadow: 0 0 0 3px $focus-yellow;
  }

  // Selected state
  input:checked+label::after {
    opacity: 1;
  }

  // Disabled state
  input:disabled {
    cursor: default;
  }

  input:disabled+label {
    opacity: 0.5;
    cursor: default;
  }

  &.large {
    [type='radio']+label::before {
      width: 30px;
      height: 30px;
      top: 4px;
      left: 0;
    }

    [type='radio']+label::after {
      top: 12px;
      left: 8px;
      border-width: 9px;
    }
  }
}

// To sit multiple choice inputs next to each other, use .inline on parent
.inline .multiple-choice {
  clear: none;

  @media (min-width: $mobile-min-breakpoint) {
    margin-bottom: 0;
    margin-right: $space-s;
  }
}
