.select {
  position: relative;

  &__button {
    border: 0;
    bottom: 10px;
    font: inherit;
    left: 0;
    padding: 5px 15px;
    position: absolute;
    right: 10px;
    width: 100%;
    z-index: 1;

    i {
      float: right;
    }

    &--close {
      z-index: 3;
    }
  }

  &__list {
    border: 2px solid $colour-blue-deep-60;
    margin-top: -50px;
    position: absolute;
    width: 100%;
    z-index: 2;

    li {
      padding: 10px 20px;
    }
  }

  &__list--item {
    cursor: pointer;

    &:hover {
      background-color: $colour-blue-deep-20;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
}
