.select {
  position: relative;

  &__button {
    border: 0;
    font: inherit;
    margin-top: 16px;
    position: absolute;
    right: 10px;
    float: none;
    z-index: 1;

    button i {
      width: 15px;
      transition: color 150ms, transform 250ms;
      color: $colour-blue-deep-20;
    }

    button:hover i {
      color: $colour-blue-deep-60;
    }

    &--close i {
      transform: rotate(180deg);
    }
  }

  &__placeholder {
    border: 2px solid $colour-blue-deep-20;
    min-height: 50px;
    padding: 10px 30px 10px 15px;
    position: static;

    &__expanded {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &--input input {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      border: 0;
      background: transparent;

      &:focus {
        padding: 15px;
      }
    }
  }

  &__list.select__list {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    width: unset;
    top: 100%;
    margin: -8px 0 0 ;
    min-height: 8px;
    z-index: 2;
    overflow: hidden;

    border: 2px solid $colour-blue-deep-20;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    ul.option-list {
      max-height: 260px;
      overflow: auto;
      margin: 8px 0 0 ;

      li {
        padding: 10px 20px;
      }

      .sub-section {
        padding: 0;
      }
    }
  }

  &__list--item {
    cursor: pointer;
    transition: background-color 200ms;

    &:hover {
      background-color: $colour-blue-deep-20;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
}

.select-date {
  position: relative;

  &__friendly {
    position: absolute;
    z-index: 1;
    background-color: $colour-white-100;
    padding: 2px 10px 2px 2px;
    margin: 0 0 0 15px;
  }
}
