.select {
  position: relative;

  button i {
    pointer-events: none;
  }

  &__button {
    border: 0;
    font: inherit;
    margin-top: 15px;
    position: absolute;
    right: 10px;
    z-index: 1;

    i {
      float: right;
    }

    &--close {
      z-index: 3;
    }
  }

  &__placeholder {
    border: 2px solid $colour-blue-deep-20;
    min-height: 50px;
    padding: 10px 15px;
  }

  &__list {
    border: 2px solid $colour-blue-deep-60;
    position: absolute;
    width: 100%;
    z-index: 2;

    li {
      padding: 10px 20px;
    }

    .sub-section {
      padding: 0;
    }
  }

  &__list--item {
    cursor: pointer;

    &:hover {
      background-color: $colour-blue-deep-20;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
}
