@import '../../helpers/vars';
@import '../../helpers/colours';
@import '../../helpers/mixins';
@import '../../helpers/vars';

$menu-item-vertical-spacing: 10px;
$menu-margin-l: 30px;
$menu-margin-s: 20px;

.magna-header {
  position: relative;
  z-index: 2;

  #header-logo-link {
    line-height: 0;
    margin: 10px 30px;

    .header-logo {
      height: 63px;
      padding: 0;
    }
  }

  .header-links {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    .lg-only {
      @include breakpoint(lg_lt) {
        display: none;
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      margin: 0 5px;

      a.button.button--secondary {
        background-color: $blue-deep-90;

        &.active {
          background-color: $blue-deep-80;
        }
      }
    }
  }

  nav {
    width: 100%;
    display: flex;
  }

  #header-link-user-profile {
    margin: 15px 30px;
  }

  .avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $white;
    position: relative;
    padding: 0;
    transition: background-color 0.2s;

    &:focus,
    &.active {
      outline: none;

      &:after {
        content: '';
        top: -4px;
        left: -4px;
        display: block;
        position: absolute;
        border: 2px solid $red-80;
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
    }

    &:hover {
      background-color: darken($white, 10%);
    }

    .fas {
      margin-top: 5px;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
