@import '../../helpers/vars';
@import '../../helpers/colours';
@import '../../helpers/mixins';
@import '../../helpers/breakpoints';

@mixin focus_outline {
  &:focus {
    outline: 4px solid $focus-yellow;
  }
}

.magna-header {
  @include float-clear();
  padding: 20px 0;
  background: $blue-deep-100;
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.magna-header a,
.magna-header__dropdown a {
  font-size: 1rem;
  color: $white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.magna-header__logo {
  float: left;
  position: relative;
  z-index: 1;
  margin-right: 1rem;
  margin-bottom: -100%;

  & img {
    display: block;
    width: auto;
    height: 60px;
    margin-top: 15px;

    @include breakpoint(sm) {
      height: 75px;
      margin-top: 13px;
    }
  }
}

.magna-header__extra-links {
  float: right;
  margin: 0;

  & li {
    display: inline-block;
    margin-left: 1rem;
  }
}

.magna-header__menu {
  position: relative;
  float: right;
  clear: right;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
  align-items: center;

  @include breakpoint(sm) {
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding-left: 170px;
    margin-top: 0;
  }
}

.magna-header__dropdown-button {
  position: relative;
  z-index: 5;
  display: none;
  align-items: center;
  padding: .5rem 1rem;
  margin-top: .5rem;
  background: $blue-deep-100;
  border: 2px solid #fff;
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: $white;
  cursor: pointer;

  .js-enabled & {
    display: flex;
  }

  @include focus_outline;

  @include breakpoint(sm) {
    margin: 1rem 0 0 2rem;
  }

  &[aria-expanded=true] {
    background: $active-blue;
  }
}

.magna-header__dropdown-button__icon {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  pointer-events: none;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $white;
    left: 0;
    transition: all .2s ease;
  }

  &:before {
    top: 3px;

    .magna-header__dropdown-button[aria-expanded=true] & {
      width: 25px;
      top: 9px;
      left: -2px;
      transform: rotate(45deg);
    }
  }

  &:after {
    bottom: 3px;

    .magna-header__dropdown-button[aria-expanded=true] & {
      width: 25px;
      bottom: 9px;
      left: -2px;
      transform: rotate(-45deg);
    }
  }


}

.magna-header__overlay {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);

  [aria-expanded=true] ~ & {
    display: block;
  }
}

.magna-header__dropdown {
  display: block;
  z-index: 4;
  left: 0;
  right: 0;
  top: 49px;
  margin: 0 -15px;
  background: $blue-deep-80;
  overflow: visible;

  .js-enabled & {
    display: none;
    position: absolute;
  }

  &[aria-hidden=true] {
    display: none;
  }

  &[aria-hidden=false],
  .js-enabled &--open {
    display: block;
    // `display: block` can only be animated using keyframes
    -webkit-animation: fadeIn .3s;
    animation: fadeIn .3s;
  }

  @include breakpoint(sm) {
    left: auto;
    top: 57px;
    width: 370px;
    margin: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.magna-header__greeting {
  padding: 15px;
  background-color: $active-blue;
  font-family: 'Overpass', Arial, Helvetica, sans-serif;
  color: $white;
}

.magna-header__menu-items {
  margin: 0;
  padding: 5px 20px;

  & li {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      border-bottom: 1px solid $blue-deep-70;
    }
  }

  & a,
  & button {
    position: relative;
    display: block;
    padding: .5rem 0;
    font-size: 1em;
    font-family: 'FS Lucas', Arial, Helvetica, sans-serif;

    @include focus_outline;

    .tag {
      position: absolute;
      right: 0;
    }
  }

  & button {
    width: 100%;
    color: $white;
    text-align: left;
    background: none;
    border: 0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  & .button:hover {
    text-decoration: none;
  }
}

.magna-header__search {
  clear: both;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  margin-top: 1rem;

  @include breakpoint(sm) {
    flex-basis: auto;
  }

  @include breakpoint(lg) {
    margin-left: 2rem;
  }

  & input {
    flex-grow: 1;
    min-width: 10rem;
    padding-left: 1rem;
    font-family: 'FS Lucas', Arial, Helvetica, sans-serif;
    border-radius: 0;

    &:focus {
      padding: 0 0 0 1rem;
    }
  }

  & button {
    flex-shrink: 0;
    height: 42px;
    width: 42px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: $active-blue;
    background-image: url(asset-path('search.svg'));
    background-size: 20px;
    border: 0;
    color: $white;
    cursor: pointer;

    @include focus_outline;
  }
}


.magna-header__nav {
  margin: 1rem 0 0;

  & li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  & a {
    display: inline-block;
    margin: 0 0 0 2rem;
    padding: .5rem 0;

    @include focus_outline;

    &.active {
      text-decoration: underline;
    }
  }
}
