/* Styles for modal overlays, windows and menus */

$shim-background: rgba($black-100, 0.7);

.confirmation-modal {
  padding: $space-s;

  @include breakpoint(sm) {
    max-width: 500px;
  }
}

.max-modal {
  width: 80%;
  top: 40px;
  bottom: 40px;
  padding: $space-m;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $shim-background;
  z-index: 3;

  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal {
    position: absolute;
    background-color: $white;
    border: 0;

    @include breakpoint(sm) {
      border-radius: var(--radius);
    }

    outline: none;
  }
}
