/* Styles for modal overlays, windows and menus */
// sass-lint:disable no-color-literals

$shim-background: rgba($black-100, 0.7);

.modal-menu {
  position: absolute;
  left: auto;
  right: inherit;
  background: $white;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: auto;
  height: auto;
  box-shadow: 0 0 9px 0 $black-50;
  min-width: 370px;
  opacity: 0;
  transition: opacity 0.3s;

  /* The pointer at the top */
  &:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: $white;
    box-shadow: 0 0 9px 0 $black-50;
    top: -10px;
    right: 20px;
  }

  // cover the bottom bit of the pointer
  &:before {
    content: '';
    position: absolute;
    width: 36px;
    height: 16px;
    background: $white;
    top: 0;
    right: 12px;
    z-index: 1;
  }

  .menu-items {
    margin: 0;

    li {
      a,
      button {
        display: block;
        cursor: pointer;

        > span {
          padding: 11px 0 11px 58px;
          display: block;
        }
      }

      @extend .p-v-xxs;

      i.fa {
        width: 44px;
        height: 44px;
        background: $black-10;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $blue-deep-80;
        float: left;
        transition: background-color 0.3s;
      }

      &:hover {
        i.fa {
          background-color: darken($black-10, 5%);
        }
      }
    }
  }
}

.confirmation-modal {
  padding: $space-s;

  @include breakpoint(sm) {
    max-width: 500px;
  }
}

.max-modal {
  width: 80%;
  top: 40px;
  bottom: 40px;
  padding: $space-m;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $shim-background;
  z-index: 3;

  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal {
  background-color: $white;
  border: 0;
  outline: none;

  @include breakpoint(sm) {
    border-radius: var(--radius);
  }

  &.modal--new {
    position: relative;
    padding: 30px;

    // Sizes {
    &.modal--small {
      height: 300px;
      width: 300px;
      border-radius: var(--radius);

      @include breakpoint(sm) {
        height: auto;
      }
    }

    &.modal--medium {
      @include breakpoint(sm) {
        width: 630px;
      }
    }

    &.modal--large {
      @include breakpoint(sm) {
        width: calc(100vw - 40px);
      }
    }
  }

  &__close {
    --modal-close-size: 30px;
    --modal-bgColour: rgba(255, 255, 255, 0.9);

    position: absolute;
    right: calc(0.5 * var(--modal-close-size));
    top: calc(0.5 * var(--modal-close-size));
    border-radius: 100px;
    background-color: var(--modal-bgColour);
    height: var(--modal-close-size);
    width: var(--modal-close-size);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    height: 100%;

    @include breakpoint(sm) {
      height: unset;
      max-height: calc(100vh - 80px);
    }
  }

  &__image {
    display: flex;
    justify-content: space-between;
    border-radius: var(--radius);

    img {
      padding: 0 15px;
      width: 100%;
    }
  }

  &__content {
    flex: 1;
    overflow-y: auto;
  }

  &__footer {
    display: flex;
    flex: 0 0 60px;
    @include breakpoint(sm) {
      flex-grow: 1;
    }
    padding-top: 20px;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint(sm) {
      flex-wrap: nowrap;
    }

    &-progress {
      flex: 1 1 100%;
      margin-bottom: 20px;

      @include breakpoint(sm) {
        flex: 0 1 35%;
        margin-bottom: unset;
        margin-right: 20px;
      }
    }

    &-actions {
      display: flex;
      flex: 1 1 100%;
      justify-content: space-between;

      @include breakpoint(sm) {
        flex: 1 1 65%;
      }

      .button {
        flex: 1 0 auto;
        min-width: unset;
        max-width: 250px;

        &:only-child {
          max-width: 100%;

          @include breakpoint(sm) {
            margin-left: auto;
            max-width: 250px;
          }
        }

        + .button {
          margin-left: 10px;
        }
      }
    }
  }
}
