
// General mixins
// ----------------

@import 'colours';
@import 'vars';

@function asset-path($path) {
  @return '#{$asset-root}#{$path}';
}

@mixin paragraph {
  margin-top: $line-height-mobile-px;
  margin-bottom: $line-height-mobile-px;

  @include tablet {
    margin-top: $line-height-desktop-px;
    margin-bottom: $line-height-desktop-px;
  }
}

@mixin desktop() {
  @media (min-width: $tablet-min-breakpoint) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $mobile-min-breakpoint) {
    @content;
  }
}

@mixin flag-red-underline {
  &:after {
    background-color: $flag-red;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: block;
  }
}

@mixin float-clear {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

@mixin great-red-trim {
  background-color: $great-red;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin active {
  color: $blue-deep-80;
  border-color: $blue-deep-60;
}

@mixin focus {
  outline: $focus-yellow solid 6px;
  outline-offset: 0;
  color: $blue-deep-80;
  border-color: $blue-deep-60;
  border-width: 4px;
}

@mixin separator($colour) {
  background-color: $colour;
  content: '';
  display: inline-block;
  height: 1em;
  margin: 0 0.5em 0 0.3em;
  width: 1px;
  vertical-align: middle;
}

@mixin rotate($deg) {
  -ms-transform: rotate(#{$deg + 'deg'}); /* IE 9 */
  -webkit-transform: rotate(#{$deg + 'deg'});
  transform: rotate(#{$deg + 'deg'});
}

@mixin button-reset {
  border: 0;
  margin: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  -webkit-appearance: none;
}


// CHEVRONS

@mixin chevron($rotate, $colour) {
  box-sizing: initial;
  -ms-transform: rotate($rotate);
  /* IE 9 */
  -webkit-transform: rotate($rotate);
  transform: rotate($rotate);
  content: '';
  border-style: solid;
  display: inline-block;
  height: 5px;
  width: 5px;
  position: relative;
  vertical-align: top;
  top: 1px;
  border-color: $colour;
  border-width: 0 2px 2px 0;
  margin: 2px 0 0 10px;
}

@mixin down-chevron-1($colour) {
  @include chevron(45deg, $colour);
  border-color: $colour;
  border-width: 0 2px 2px 0;
  top: 1px;
}

@mixin left-chevron-1($colour) {
  @include chevron(45deg, $colour);
  border-color: $colour;
  border-width: 0 0 2px 2px;
  top: 0;
}

@mixin right-chevron-1($colour) {
  @include chevron(45deg, $colour);
  border-color: $colour;
  border-width: 2px 2px 0 0;
  top: 0;
}

@mixin right-chevron-2($colour) {
  @include chevron(45deg, $colour);
  vertical-align: middle;
  border-color: $colour;
  border-width: 2px 2px 0 0;
  margin: 0 5px;
  top: 0;
}

@mixin up-chevron-1($colour) {
  @include chevron(45deg, $colour);
  border-color: $colour;
  border-width: 2px 0 0 2px;
  top: 5px;
}

@mixin container() {
  position: relative;

  &:after {
    max-width: $site-width;
    display: block;
    content: '';
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    @media (min-width: $mobile-min-breakpoint) {
      margin: 0 $gutter-medium;
    }

    @media (min-width: $tablet-min-breakpoint) {
      margin: 0 $gutter-large;
    }

    @media (min-width: $desktop-min-breakpoint) {
      margin: 0 $gutter-xlarge;
    }

    @media (min-width: $site-width + ($gutter-xlarge * 2)) {
      margin: 0 auto;
    }
  }
}
