
@import 'helpers/mixins';
@import 'helpers/vars';

.g-image-with-caption {
  display: block; // override display: flex if this card is used in a flex-grid
  @include float-clear;
  position: relative;

  img {
    width: 100%;
    display: block;
  }

  .caption {
    position: relative;
    z-index: 1;
    float: right;
    margin-right: 15px;
    margin-top: $space-n-s-m;
    width: 55%;
    background-color: $white;
    padding: $space-xxs $space-xs;
    @include body-small;

    @include desktop {
      margin-top: $space-n-s;
    }

    p {
      margin: 0;
    }

    .sub-caption {
      color: $flag-red;
    }
  }
}
