@import 'helpers/mixins';
@import 'helpers/colours';
@import 'helpers/vars';

// DSM Buttons
.button {
  @include font-body-3-bold;
  background: $colour-red-80;
  border: 2px solid transparent;
  border-radius: 25px;
  color: $white;
  cursor: pointer;
  min-width: 100px;
  padding: 8px 26px 7px;
  text-align: center;

  &:hover,
  &:active {
    background: $colour-red-100;
  }

  &:active {
    border-color: $black;
  }

  &:focus,
  &:focus:active {
    background: $colour-red-100;
    outline: $focus-yellow solid 6px;
    outline-offset: 0;
    color: $white;
    border-color: $black;
    border-width: 2px;
  }

  &[disabled] {
    cursor: auto;
    opacity: 0.4;
  }

  &--small {
    @include font-body-2-bold;
    border-radius: 20px;
    color: $white;
    padding: 8px 20px;
  }

  &--large {
    @include font-body-3-bold;
    color: $white;
    padding: 8px 50px;
  }

  &--secondary {
    background: $colour-blue-deep-80;

    &:hover,
    &:active {
      background: $colour-blue-deep-100;
    }

    &:focus,
    &:focus:active {
      background: $colour-blue-deep-100;
    }
  }

  &--tertiary {
    background: $white;
    border-color: $colour-blue-deep-80;
    color: $colour-blue-deep-80;

    &:hover,
    &:active {
      background: $white;
      color: $colour-blue-deep-80;
    }

    &:focus,
    &:focus:active {
      background: $white;
      color: $colour-blue-deep-80;
    }
  }
}




























// .button {
//   @include font-subcopy-bold-4-white-1-left;
//   border: 0;
//   border-radius: 20px;
//   min-width: 100px;
//   padding: 12px 22px;
//   position: relative;
//   text-align: center;

//   &:link,
//   &:visited,
//   &:hover,
//   &:active {
//     @include font-subcopy-bold-4-white-1-left;
//     text-align: center;
//     text-decoration: none;
//   }

//   &--primary {
//     background: $red-80;
//   }

//   &--secondary {
//     background: $blue-deep-80;
//   }

//   &--tertiary {
//     background: $blue-deep-40;
//   }

//   &--large {
//     border-radius: 25px;
//     font-size: 20px;
//     height: 50px;
//     padding: 0 48px;

//     &:link,
//     &:visited,
//     &:hover,
//     &:active {
//       font-size: 20px;
//     }
//   }

//   &--round-corner {
//     border-radius: 4px;
//     padding: 4px 10px;
//   }

//   &--icon {

//     i {
//       padding-right: 10px;
//     }

//     &-left {
//         i {
//           left: 15px;
//           position: absolute;
//         }

//         span {
//           margin-left: 20px;
//         }
//     }

//     &-center {
//       min-width: auto;
//       padding: 0;
//     }
//   }

//   &:disabled {
//     opacity: .4;
//   }
// }




// BUTTONS

@mixin great-button($colour: $active-blue) {
  @include button-reset;
  @include brand-small;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  background-color: $colour;
  color: $white;
  padding: $space-xs-m 0;
  text-decoration: none;
  line-height: $line-height-mobile;
  margin-top: #{$line-height-mobile * $base-font-size-mobile};
  margin-bottom: #{$line-height-mobile * $base-font-size-mobile};
  width: 100%;

  @include tablet {
    min-width: 300px;
    width: auto;
    padding: $space-xs 0;
    line-height: $line-height-desktop;
    margin-top: #{$line-height-desktop * $base-font-size-desktop};
    margin-bottom: #{$line-height-desktop * $base-font-size-desktop};
  }

  &:visited {
    color: $white;
  }

  &:focus:active,
  &:active {
    color: $black;
    background-color: $focus-yellow;
  }

  &:focus {
    @include focus;
  }

  &:hover {
    background-color: darken($colour, 5);
    color: $white;
  }

  &:after {
    line-height: 50px;
  }
}

@mixin great-button-ghost($colour: $active-blue) {
  @include great-button;
  background-color: transparent;
  border: 2px solid $colour;
  color: $colour;
  padding: $space-xs-m - 2 0;

  @include tablet {
    padding: $space-xs - 2 0;
  }

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: $colour;
  }

  &:focus {
    @include focus;
  }

  &:focus:active,
  &:active:hover,
  &:active {
    color: $black;
    background-color: $focus-yellow;
    border-color: $focus-yellow;
  }

  @if ($colour == $white) {

    &:focus,
    &:hover {
      color: $black;
      background-color: $white;
    }

  } @else {

    &:focus,
    &:hover {
      color: $white;
    }

    &:focus:active {
      color: $black;
    }

  }
}

.g-button {
  @include great-button;
}

// Transparent/ghost buttons
.g-button-ghost-blue {
  @include great-button-ghost;
}

.g-button-ghost-white {
  @include great-button-ghost($white);
}
