
// UTILITY CLASSES
// ================

@import 'helpers/colours';

// Backgrounds

$colours:
  ($black, black),
  ($grey, grey),
  ($mid-grey, mid-grey),
  ($light-grey, light-grey),
  ($offwhite, offwhite),
  (transparent, transparent),
  ($purple, purple),
  ($great-blue, great-blue),
  ($dark-navy, dark-navy),
  ($mid-blue, mid-blue),
  ($active-blue, active-blue),
  ($light-blue, light-blue),
  ($aqua, aqua),
  ($teal, teal),
  ($flag-red, flag-red),
  ($great-red, great-red),
  ($focus-yellow, focus-yellow),
  ($stone-10, stone-10),
  ($stone-20, stone-20),
  ($stone-30, stone-30),
  ($stone-40, stone-40),
  ($stone-50, stone-50),
  ($stone-60, stone-60),
  ($stone-70, stone-70),
  ($stone-80, stone-80),
  ($stone-90, stone-90),
  ($stone, stone),
  // DSM colours
  ($blue-deep-80, blue-deep-80),
  ($blue-deep-40, blue-deep-40),
  ($blue-deep-10, blue-deep-10),
  ($aqua-100, aqua-100),
  ($red-80, red-80),
  ($white, white),;

@each $colour, $name in $colours {
  .bg-#{$name} {
    background-color: $colour;
  }
}

// Text colour

@each $colour, $name in $colours {
  .text-#{$name} {
    color: $colour;
  }
}

// Borders
@each $colour, $name in $colours {
  .border-#{$name} {
    border-color: $colour;
  }
}

.border-thick,
.border-medium,
.border-thin {
  border-style: solid;
}

.border-thick  {
  border-width: 6px;
}

.border-medium {
  border-width: 4px;
}

.border-thin   {
  border-width: 2px;
}



// Section underline

@each $colour, $name in $colours {
  .underline-#{$name} {
    position: relative;

    &:after {
      @extend .container;
      display: block;
      content: '';
      height: 4px;
      margin-top: -4px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $colour;
    }
  }
}
