
// LINKS
// ======

@import 'helpers/colours';
@import 'helpers/mixins';

// DSM Link

.link {
  @include font-body-bold-6-blue-80-1-left;
  text-decoration: none;
  border: 0;
  background: none;
  padding: 0;

  &:visited,
  &:hover,
  &:active,
  &:focus:active {
    color: $blue-deep-80;
    cursor: pointer;
  }

  &--underline {
    border-bottom: 2px solid;
  }

  &--icon {
    i {
      transform: scale(1.75);
    }
  }

  &--icon-right {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;

    i {
      margin-left: 20px;
      transform: scale(1.2);
    }
  }

  &--large {
    @extend .h-s;
  }
}

a:focus,
button:focus {
  @include focus;
}

a:focus:active,
button:focus:active {
  background-color: $focus-yellow;
}

a {
  color: $active-blue;
  text-decoration: underline;

  &:visited {
    color: $purple;
  }

  &:hover {
    color: $active-blue-alt;
  }

  &:active {
    color: $active-blue;
  }

  &:focus:active {
    color: $great-blue;
  }

  &.button {
    display: inline-block;
  }
}
