
// LINKS
// ======

@import 'helpers/colours';
@import 'helpers/mixins';

// DSM Link

.link {
  @include font-body-bold-6-blue-80-1-left;
  text-decoration: none;

  &:visited,
  &:hover,
  &:active,
  &:focus:active {
    color: $blue-deep-80;
  }

  &--underline {
    border-bottom: 2px solid;
  }

}

a:focus {
  @include focus;
}

a:focus:active {
  background-color: $focus-yellow;
}

a {
  color: $active-blue;
  text-decoration: underline;

  &:visited {
    color: $purple;
  }

  &:hover {
    color: $active-blue-alt;
  }

  &:active {
    color: $active-blue;
  }

  &:focus:active {
    color: $great-blue;
  }

  &.button {
    display: inline-block;
  }
}
