
// BREADCRUMBS
// ============

@import 'helpers/mixins';
@import 'helpers/vars';

.g-breadcrumbs {
  @include float-clear;
  @include tablet {
    padding: $space-xs 0;
  }
  padding: $space-xs-m 0;

  ol {
    margin: 0;

    li:last-child:after {
      display: none;
    }

    li:first-child {
      margin-left: 0;
      padding-left: 0;
    }

    li {
      padding-left: 0;
      background-image: none;
      display: block;
      float: left;
      margin-left: $space-xs;
    }

    li:after {
      @include chevron(-45deg, $light-grey);
      top: .3em;
      @include tablet {
        top: .5em;
      }
    }
  }
}
