
.g-fact-sheet {
  @include paragraph;
  display: block; // override display: flex if this component is used in a flex-grid

  hr {
    background: $stone;
  }

  .g-fact-sheet-heading {
    color: $white;
    background-color: $grey;
    margin: 0;
    padding-right: $space-xs-m;
    padding-left: $space-xs-m;
    margin-left: $space-s-m;

    @include tablet {
      padding-right: $space-xs;
      padding-left: $space-xs;
      margin-left: $space-s;
    }

    @include brand-medium;
    padding-top: #{$space-s-m - ($font-size-large-mobile * $line-height-mobile) / 2};
    padding-bottom: #{$space-s-m - ($font-size-large-mobile * $line-height-mobile) / 2};

    @include tablet {
      padding-top: #{$space-s - ($font-size-large-desktop * $line-height-desktop) / 2};
      padding-bottom: #{$space-s - ($font-size-large-desktop * $line-height-desktop) / 2};
    }

    position: relative;
    z-index: 1;
    display: inline-block;
  }

  .g-fact-sheet-content {
    background-color: $white;
    overflow: auto;
    padding-top: $space-s-m;
    margin-top: $space-n-s-m;
    padding-right: $space-s-m;
    padding-left: $space-s-m;

    @include tablet {
      padding-top: $space-s;
      margin-top: $space-n-s;
      padding-right: $space-s;
      padding-left: $space-s;
    }

  }
}
