
@import 'helpers/colours';

$min-height: $space-s * 12;

.list-with-media {
  width: 100%;
  min-height: $min-height;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  a {
    color: white;
  }

  a:visited{
    color: white;
  }

  a:active:focus{
    color: $great-blue;
  }

  .list-item {

    p {
      @include body-small;
    }
  }

  .list-item-container {
    display: block;
    border-top: 3px solid $great-red;
    margin-top: -3px;
  }

  .media {
    margin-bottom: $space-s-m;

    @include desktop {
      margin-top: auto;
      margin-bottom: auto;
    }

    @include tablet {
      margin-bottom: $space-s;
    }

  }

  @media (max-width: 960px) {
    .reverse-columns-l {
      flex-direction: column-reverse;
    }
  }
}
