// Search page components

@import "helpers/_colours.scss";
@import "helpers/_spacings.scss";

.g-filters {
  background-color: $stone-40;
  position: relative;

  &:after {
    display: block;
    content: '';
    height: 4px;
    margin-top: -4px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $flag-red;
  }

  mark {
    display: inline-block;
    font-weight: bold;
    background: $stone;
    border-radius: 4px;
    margin-bottom: $space-xs-m;
    margin-right: 5px;
    padding: $space-xxs-m;
    @include tablet {
      margin-bottom: $space-xs;
      padding: $space-xxs;
    }
  }

  .g-filters-label {
    display: block;
  }

  .clear-all-link {
    display: block;
    padding-top: $space-xs-m;
    @include tablet {
      padding-top: $space-xs;
    }
  }

}

.g-expandable-fieldset {
  position: relative;

  legend {
    margin-bottom: 20px;
  }

  .g-expandable-options-label {
    display: inline-block;
    width: 100%;
    cursor: pointer;
  }

  button.filter-collapse {
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 4px;
    cursor: pointer;
  }

  button.filter-collapse.checked {
    padding-bottom: 9px;
    padding-right: 6px;
    padding-top: 0;
  }

  button.filter-collapse::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    border-style: solid;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-color: #000000;
    border-width: 2px 0 0 2px;
    height: 8px;
    width: 8px;
  }

  button.filter-collapse.checked::after {
    border-width: 0 2px 2px 0;
    margin: 5px 0 0 0;
  }

}

body.js-enabled {
  .g-expandable-fieldset{
    button.filter-collapse.checked + .form-group {
      display: none;
    }
  }
}

body:not(.js-enabled) {
  .g-expandable-fieldset {
    button.filter-collapse {
      display: none;
    }
  }
}
