.progress-bar {
  background: $colour-blue-deep-10;
  border-radius: 10px;
  height: 17px;
  min-width: 100px;
  overflow: hidden;

  span {
    display: block;
    background: $colour-green-100;
    border-radius: 10px;
    height: 17px;
    min-width: 20px;
  }
}