
// SPACING

@import 'helpers/mixins';

// Padding/margin

$spacings-desktop:
  (0 - $space-m, n-m),
  (0 - $space-s, n-s),
  (0 - $space-xs, n-xs),
  (0 - $space-xxs, n-xxs),
  (0, 0),
  ($space-xxs, xxs),
  ($space-xs, xs),
  ($space-s, s),
  ($space-m, m),
  ($space-l, l),
  ($space-xl, xl),
  ($space-xxl, xxl);
$spacings-mobile:
  (0 - $space-m-m, n-m)
  (0 - $space-s-m, n-s),
  (0 - $space-xs-m, n-xs),
  (0 - $space-xxs-m, n-xxs),
  (0, 0),
  ($space-xxs-m, xxs),
  ($space-xs-m, xs),
  ($space-s-m, s),
  ($space-m-m, m),
  ($space-l-m, l),
  ($space-xl-m, xl),
  ($space-xxl-m, xxl);
$positions:
  (top, t),
  (right, r),
  (bottom, b),
  (left, l);
$rules:
  (padding, p),
  (margin, m);

/* spacing */
@each $rule, $rule-name in $rules {

  // mobile
  @each $position, $position-name in $positions {
    @each $spacing, $spacing-name in $spacings-mobile {
      .#{$rule-name}-#{$position-name}-#{$spacing-name} {
        #{$rule}-#{$position}: #{$spacing};
      }
    }
  }

  @each $spacing, $spacing-name in $spacings-mobile {
    .#{$rule-name}-#{$spacing-name} {
      #{$rule}: #{$spacing};
    }
  }

  @each $spacing, $spacing-name in $spacings-mobile {
    .#{$rule-name}-v-#{$spacing-name} {
      #{$rule}-top: #{$spacing};
      #{$rule}-bottom: #{$spacing};
    }
  }

  @each $spacing, $spacing-name in $spacings-mobile {
    .#{$rule-name}-h-#{$spacing-name} {
      #{$rule}-right: #{$spacing};
      #{$rule}-left: #{$spacing};
    }
  }

  @include tablet {
    @each $position, $position-name in $positions {
      @each $spacing, $spacing-name in $spacings-desktop {
        .#{$rule-name}-#{$position-name}-#{$spacing-name} {
          #{$rule}-#{$position}: #{$spacing};
        }
      }
    }

    @each $spacing, $spacing-name in $spacings-desktop {
      .#{$rule-name}-#{$spacing-name} {
        #{$rule}: #{$spacing};
      }
    }

    @each $spacing, $spacing-name in $spacings-desktop {
      .#{$rule-name}-v-#{$spacing-name} {
        #{$rule}-top: #{$spacing};
        #{$rule}-bottom: #{$spacing};
      }
    }

    @each $spacing, $spacing-name in $spacings-desktop {
      .#{$rule-name}-h-#{$spacing-name} {
        #{$rule}-right: #{$spacing};
        #{$rule}-left: #{$spacing};
      }
    }
  }

}
