// Tables

@import 'helpers/vars';
@import 'helpers/mixins';

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: $space-s-m 0;

  @include tablet {
    margin: $space-s 0;
  }

  th,
  td {
    padding: $space-xxs-m - 1 $space-s-m $space-xxs-m 0;
    text-align: left;
    border-bottom: 1px solid $active-blue;
    vertical-align: middle;

    @include tablet {
      padding: $space-xxs - 1 $space-s $space-xxs 0;
    }
    &.no-data {
      text-align: center;
    }
  }

  td:last-child,
  th:last-child {
    padding-right: 0;
  }

  caption {
    text-align: left;
  }
}

table.border-blue-deep-20 {
  th, td {
    border-color: $blue-deep-20; 
  }
}

table.valign-middle {
  th, td {
    vertical-align: middle;
  }
}
