@import 'helpers/vars';
@import 'helpers/breakpoints';

// Config
// This must be changed to match your static files path when importing sass!
$asset-root: './images/';
$fonts: './fonts';
$fa-font-path: $fonts;

// Icons
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands';

// Base
@import 'elements/reset';

// Elements
@import 'elements/layout';
@import 'elements/grid';
@import 'elements/forms/base';
@import 'elements/link';
@import 'elements/list';
@import 'elements/media-block';
@import 'elements/typography';
@import 'elements/colours';
@import 'elements/spacing';
@import 'elements/responsive';
@import 'elements/buttons';
@import 'elements/tags';
@import 'elements/details';
@import 'elements/tables';
@import 'elements/utils';
@import 'elements/box';
@import 'elements/quote';
@import 'elements/icons';
@import 'elements/card';
@import 'elements/progress-bar';

// Components
@import 'components/card/base';
@import 'components/header-footer/base';
@import 'components/accordion';
@import 'components/banners';
@import 'components/boxes';
@import 'components/breadcrumbs';
@import 'components/case-study';
@import 'components/content-list';
@import 'components/cookie-notice';
@import 'components/details-list';
@import 'components/error-reporting';
@import 'components/fact-sheet';
@import 'components/hero';
@import 'components/feature-list';
@import 'components/modal';
@import 'components/pagination';
@import 'components/search';
@import 'components/sharing-links';
@import 'components/skip-link';
@import 'components/stats';
@import 'components/tag-list';
@import 'components/tooltip';
@import 'components/panels';
@import 'components/beta';
